
#TopBackground {
    /*顶部背景颜色,与位置大小*/
    background-color: greenyellow;
    background-position-y: 10%;
    /*顶部文字大小，位置，排版*/
    font-size: x-large;
    text-align: center;
    font-weight: 500;
}

 /*
  * 段落文字
  * 等级1用作小结
  * 等级2用作段落
  */
#Level1 {
    font-size: x-large;
    font-weight: 700;
    text-align: left;
    margin-left: 0%;
}

#Level2 {
    text-align: left;
    font-size: large;
    font-weight: 500;
    margin-left: 5%;
}
#line {
    width: 250px;
    height: 30px;
    line-height: 30px;
    margin-left: 10%;
    text-align: left;
    font-family: 楷体;
}

#lineSelect {
    width: 250px;
    margin-left: 10%;
    text-align: left;
    font-family: 楷体;
}

#lineRadio {
    width: 100px;
    line-height: 15px;
    font-family: 楷体;
}

#smart {
    color: red;
}

#divide {
    height: 30px;
}

#button input {
    width: 80px;
    height: 30px;
    margin-top: 20px;
}

#button {
    text-align: center;
}

#a {
    color: sandybrown;
}